@model IEnumerable<NetCoreAuthUsuario.Models.ApplicationUser>

@{
    ViewData["Title"] = "Usuarios";
}

<h2>Usuarios</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Usuario
            </th>

            <th>
                Email
            </th>

            <th>
                Telefono
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    <a class="btn btn-success" data-toggle="modal" data-target="#modalEditar" onclick="getUsuario('@item.Id','Users/GetUsuario')">Editar</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form >
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="Id" id="Id" />
                    <div class="form-group">
                        <label for="UserName" class="control-label">Usuario</label>
                        <input readonly name="UserName" id="UserName" class="form-control" />
                        
                    </div>
                   
                    <div class="form-group">
                        <label for="Email" class="control-label">Email</label>
                        <input name="Email" id="Email" class="form-control" />
                        
                    </div>
                   
                    <div class="form-group">
                        <label for="PhoneNumber" class="control-label">Telefono</label>
                        <input name="PhoneNumber" id="PhoneNumber" class="form-control" />
                       
                    </div>
                   
                    
                   
                   
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="editarUsuario('Users/EditUsuario')">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>
